

body {

  font-family: 'Merriweather', serif;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #AAC4FF;
  border-width: 6px;
  width: 6%;
}

h1{
  color:#25316D;
font-size: 4em;
padding: 80px;
font-family: 'Sacramento', cursive;
font-style: italic;

  display: inline;
position: absolute;
}
 h2{
   color:#25316D;
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   font-size: 40px;
 }
h4{

    color:#25316D;
padding: 170px;

    display: inline;
    position: absolute;
     font-family: 'Montserrat', sans-serif;
}

h2:hover {
  background-color: white;
}

.circular{
  border-radius: 200%;


}
.styles {
  background-color: #B1B2FF;
margin: 0;
padding:10px;
position:relative;
text-align: left;

}
.me{
  position:relative;
  left:500px;
  top:10px;
}

.links{
  background-color: #D2DAFF;
margin: 0;
padding:20px;

}

.Skills2{
  background-color: #B1B2FF;
margin: 0;
padding:20px;

}

.askme {
  background-color: #D2DAFF;
margin: 0;
padding:20px;
}
